<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <p><a href="/">index</a></p>
    <p>The date and time is: {{ date_time }}</p>
    <p>
      <a href="/kanye">Here</a>
      to display a random Kanye west quote, please press
    </p>

    <p>
      <a href="/visits">Here</a>
      for determining your popularity, based on number of index visits
    </p>

    <p>
      <a href="/count">Here</a>
      for number of POST requests
    </p>

    <textarea id="awyeah_index" name="awyeah" rows="10" cols="35">
╭━━━╮╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╭╮╱╭╮
┃╭━╮┃╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱┃┃╱┃┃
┃┃╱┃┣╮╭╮╭╮╭╮╱╭┳━━┳━━┫╰━┫┃
┃╰━╯┃╰╯╰╯┃┃┃╱┃┃┃━┫╭╮┃╭╮┣╯
┃╭━╮┣╮╭╮╭╯┃╰━╯┃┃━┫╭╮┃┃┃┣╮
╰╯╱╰╯╰╯╰╯╱╰━╮╭┻━━┻╯╰┻╯╰┻╯
╱╱╱╱╱╱╱╱╱╱╭━╯┃
╱╱╱╱╱╱╱╱╱╱╰━━╯

Found @ https://fsymbols.com/emoticons/maker/
</textarea
    >
  </body>
</html>
