<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <p>The date and time is: {{ date_time }}</p>
    <p>
      To display a random Kanye west quote, please press
      <a href="/kanye">here</a>
    </p>

    <textarea>
╭━━━╮╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱╭╮╱╭╮
┃╭━╮┃╱╱╱╱╱╱╱╱╱╱╱╱╱╱╱┃┃╱┃┃
┃┃╱┃┣╮╭╮╭╮╭╮╱╭┳━━┳━━┫╰━┫┃
┃╰━╯┃╰╯╰╯┃┃┃╱┃┃┃━┫╭╮┃╭╮┣╯
┃╭━╮┣╮╭╮╭╯┃╰━╯┃┃━┫╭╮┃┃┃┣╮
╰╯╱╰╯╰╯╰╯╱╰━╮╭┻━━┻╯╰┻╯╰┻╯
╱╱╱╱╱╱╱╱╱╱╭━╯┃
╱╱╱╱╱╱╱╱╱╱╰━━╯
</textarea
    >

    <p>
      Found @
      <a href="https://fsymbols.com/emoticons/maker/">
        https://fsymbols.com/emoticons/maker/</a
      >
    </p>
  </body>
</html>
